<div class="container color-light">
  <div class="col">
    <p class="sm">Name </p>

    <form>
      <input type="text" class="txt" name="item" placeholder="Enter" [(ngModel)]="username">

    </form>
    <p class="sm">Email </p>

    <form>
      <input type="text" class="txt" name="item" placeholder="Enter" [(ngModel)]="useremail">

      <input type="submit" class="btn" value="Login" (click)="Login()">

    </form>
    <!-- <form>
      <input type="submit" (click)="CommunityPage()" class="btn" value="Show Discussion Forum">
    </form> -->
  </div>
</div>
<br>